
<div class="container">
	<div class="span12">


		<div class="box">
			<h1>Welcome to Syn</h1>
		</div>

		
			<ul class="thumbnails" style="margin-top: 10px; margin-left: auto; margin-right: auto;" >
				<div class="row">
				  <li class="span3">
					    <div class="thumbnail" style="background: white;">
					      <%= image_tag "idea.jpeg" %>
					      <h3>Thumbnail label</h3>
					      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					      <a class="btn btn-primary">View</a>
					    </div>
				  </li>

				  <li class="span3">
					    <div class="thumbnail" style="background: white;">
					      <%= image_tag "idea.jpeg" %>
					      <h3>Thumbnail label</h3>
					      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					      <a class="btn btn-primary">View</a>
					    </div>
				  </li>

				    <li class="span3">
					    <div class="thumbnail" style="background: white;">
					      <%= image_tag "idea.jpeg" %>
					      <h3>Thumbnail label</h3>
					      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					      <a class="btn btn-primary">View</a>
					    </div>
				  </li>
				</div>



				<div class="row">
				  <li class="span3">
					    <div class="thumbnail" style="background: white;">
					      <%= image_tag "idea.jpeg" %>
					      <h3>Thumbnail label</h3>
					      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					      <a class="btn btn-primary">View</a>
					    </div>
				  </li>

				  <li class="span3">
					    <div class="thumbnail" style="background: white;">
					      <%= image_tag "idea.jpeg" %>
					      <h3>Thumbnail label</h3>
					      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					      <a class="btn btn-primary">View</a>
					    </div>
				  </li>

				    <li class="span3">
					    <div class="thumbnail" style="background: white;">
					      <%= image_tag "idea.jpeg" %>
					      <h3>Thumbnail label</h3>
					      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					      <a class="btn btn-primary">View</a>
					    </div>
				  </li>
				</div>


			</ul>


	</div>
</div>


