

<div class="container">
	<div class="span12">

<div class="my-wrapper">
	<div class=" text-center stolen-surfbox">

	<h1>Edit your information</h1>

		<%= simple_form_for @description do |f| %>
			<%= f.input :skills %>
			<%= f.input :looking_for, :label => 'What help do you need?' %>
			<%= f.input :my_idea %>
			<%= f.submit "Save", :class => "btn btn-primary btn-large" %>
		<% end %>
	</div>

 </div>
</div>
</div>
</div>